PORTALDOT_CHAIN=wss://testnet.portaldot.io
ARCHIVE_ENDPOINT=https://testnet.portaldot.io/graphql
CHAIN_ENDPOINT=wss://testnet.portaldot.io

SBT_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
RELATIONSHIP_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000001

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sovereigngraph

GRAPHQL_PORT=4000

NODE_ENV=development